<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>Products Electron</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
			
</head>
<body class="grey lighten-5">

	<br/>
	<div class="container">
		<div id="products" class="row">
			
		</div>
	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<!-- Custom scripts -->
	<script>
		
		const { ipcRenderer } = require('electron');
		const products = document.querySelector('#products');

		ipcRenderer.on('product:new', (e, newProduct) => {
			
			const newProductTemplate = `
				<div class="col s12 m6">
					<div class="card blue-grey darken-1 z-depth-3">
						<div class="card-content grey lighten-4">
							<span class="card-title">${newProduct.name}</span>
							<p>${newProduct.description}</p>
							<p>$${newProduct.price}</p>
						</div>
						<div class="card-action grey" style="padding:5px;">
							<button class="btn-flat delete-product waves-effect waves-light white-text"><b>Delete</b><i class="material-icons right">delete</i></button>
						</div>
					</div>
				</div>
			`;

			products.innerHTML += newProductTemplate;

			const btns = document.querySelectorAll('.delete-product');

			btns.forEach(btn => {
				btn.addEventListener('click', e => {
					e.target.parentElement.parentElement.parentElement.remove();
				});
			});

		});

		ipcRenderer.on('products:remove-all', (e) => {
			products.innerHTML = "";
		});

	</script>

</body>
</html>